In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
data_path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(data_path, encoding="utf-8")
purchase_df.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# Calculate number of unique players
player_count = len(purchase_df["SN"].unique())

# Display total players in summary df
summary_player_count_df = pd.DataFrame({"Total Players": [player_count]})
summary_player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Calculate number of unique items
item_count = len(purchase_df["Item Name"].unique())

# Calculate and format average price of all items
average_price = purchase_df["Price"].mean()

# Calculate total number of purchases
number_purchases = len(purchase_df["Item Name"])

# Calculate and format total revenue for all items
total_revenue = sum(purchase_df["Price"])

# Display summary data frame
summary_purchase_analysis_df = pd.DataFrame({"Number of Unique Items": [item_count], "Average Price": [average_price], "Number of Purchases": [number_purchases], "Total Revenue": [total_revenue]})
summary_purchase_analysis_df.round(2)

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Create data frame for unique players grouped by gender 
unique_gender_df = purchase_df.groupby("Gender")["SN"].nunique()

# Calculate percentage of users by gender
gender_percent = unique_gender_df / player_count * 100

# Display summary data frame
gender_summary_df = pd.DataFrame({"Total Count": unique_gender_df, "Percentage of Players": gender_percent})
gender_summary_df.round(2)

# "{:.2%}".format()

                       Total Count  Percentage of Players
Gender
Female                          81                  14.06
Male                           484                  84.03
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Create new data frame grouped by gender
grouped_gender_df = purchase_df.groupby(["Gender"])

# Calculate total price by gender 
gender_total = grouped_gender_df["Price"].sum()

# Calculate average price by gender
gender_average = grouped_gender_df["Price"].mean()

# Calculate player counts by gender
gender_counts = purchase_df["Gender"].value_counts()

# Calculate average price by unique player
unique_gender_average = gender_total / unique_gender_df 

# Display summary data frame
gender_summary_df = pd.DataFrame({"Purchase Count": gender_counts,
    "Average Purchase Price": gender_average, 
    "Total Purchase Value": gender_total, 
    "Avg Total Purchase per Person": unique_gender_average})
gender_summary_df.round(2)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Create bins by age
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Create labels for bins
bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Slice data into bins
pd.cut(purchase_df["Age"], bins, labels=bin_labels)

# Add bin column to data frame
purchase_df["Age Group"] = pd.cut(purchase_df["Age"], bins, labels=bin_labels, right=True)

# Create a groupby object based on age bin by unique user
unique_age_group_count = purchase_df.groupby("Age Group")["SN"].nunique()

# Calculate percentage of users by age
age_percent = unique_age_group_count / player_count * 100

# Display summary data frame
age_summary_df = pd.DataFrame({"Total Count": unique_age_group_count, "Percentage of Players": age_percent})
age_summary_df.round(2)

           Total Count  Percentage of Players
Age Group
<10                 17                   2.95
10-14               22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-39               31                   5.38
40+                 12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Create new data frame grouped by age group
grouped_age_df = purchase_df.groupby(["Age Group"])

# Calculate total price by age group 
age_group_total = grouped_age_df["Price"].sum()

# Calculate average price by age group
age_group_average = grouped_age_df["Price"].mean()

# Calculate player counts by age group
age_group_counts = purchase_df["Age Group"].value_counts()

# Calculate average age group price by unique player
unique_age_group_average = age_group_total / unique_age_group_count

# Display summary data frame
gender_summary_df = pd.DataFrame({"Purchase Count": age_group_counts,
    "Average Purchase Price": age_group_average, 
    "Total Purchase Value": age_group_total, 
    "Avg Total Purchase per Person": unique_age_group_average})
gender_summary_df.round(2)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
# Create new data frame grouped by player
grouped_sn_df = purchase_df.groupby(["SN"])

# Calculate total price by age group 
sn_group_total = grouped_sn_df["Price"].sum()

# Calculate average price by age group
sn_group_average = grouped_sn_df["Price"].mean()

# Calculate player counts by age group
sn_group_counts = purchase_df["SN"].value_counts()

# # Calculate average age group price by unique player
# unique_sn_group_average = sn_group_total / unique_sn_group_count

# Create summary data frame
sn_summary_df = pd.DataFrame({"Purchase Count": sn_group_counts,
    "Average Purchase Price": sn_group_average, 
    "Total Purchase Value": sn_group_total})

# Sort and display summary data by largest total puchase value
sorted_summary = sn_summary_df.sort_values("Total Purchase Value", ascending=False)
sorted_summary.round(2).head()

             Purchase Count  Average Purchase Price  Total Purchase Value
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame