In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
data_path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(data_path, encoding="utf-8")
purchase_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

## Player Count

* Display the total number of players

In [2]:
# Calculate number of unique players
player_count = len(purchase_df["SN"].unique())

# Display total players in summary df
summary_player_count_df = pd.DataFrame({"Total Players": [player_count]})
summary_player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Calculate number of unique items
item_count = len(purchase_df["Item Name"].unique())

# Calculate and format average price of all items
average_price = "${:,.2f}".format(purchase_df["Price"].mean())

# Calculate total number of purchases
number_purchases = len(purchase_df["Item Name"])

# Calculate and format total revenue for all items
total_revenue = "${:,.2f}".format(sum(purchase_df["Price"]))

# Display summary data frame
summary_purchase_analysis_df = pd.DataFrame({"Number of Unique Items": [item_count], "Average Price": [average_price], "Number of Purchases": [number_purchases], "Total Revenue": [total_revenue]})
summary_purchase_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
gender_df = purchase_df.groupby(["Gender"])
unique_gender = gender_df.nunique()["SN"]


gender_percent = unique_gender_df / player_count * 100

gender_summary_df = pd.DataFrame({"Percentage of Players": gender_percent,
    "Total Count": unique_gender})
gender_summary_df.round(2)

# # Calculate number of unique male players
# male_df = purchase_df.loc[purchase_df["Gender"] == "Male", :]
# unique_male_count = len(male_df["SN"].unique())

# # Calculate number of female players
# female_df = purchase_df.loc[purchase_df["Gender"] == "Female", :]
# unique_female_count = len(female_df["SN"].unique())

# # Calculate number of other/non-disclosed players
# other_df = purchase_df.loc[purchase_df["Gender"] == "Other / Non-Disclosed", :]
# unique_other_count = len(other_df["SN"].unique())

# # Calculate percentage of male players
# male_percentage = "{:.2%}".format(unique_male_count / player_count)

# # Calculate percentage of female players
# female_percentage = "{:.2%}".format(unique_female_count / player_count)

# # Calculate percentage of other/non-disclosed players
# other_percentage = "{:.2%}".format(unique_other_count / player_count)

# Create new data frame from data


# Display summary data frame
# summary_gender_df = pd.DataFrame({"Total Count": [item_count], "Average Price": [average_price], "Number of Purchases": [number_purchases], "Total Revenue": [total_revenue]})
# summary_purchase_analysis_df

                       Percentage of Players  Total Count
Gender
Female                                 14.06           81
Male                                   84.03          484
Other / Non-Disclosed                   1.91           11

In [ ]:
unique_percentage = unique_gender_count_df / player_count
unique_percentage


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# # Calculate number of male players
# male_count = np.sum(purchase_df["Gender"] == "Male")

# # Calculate number of female players
# female_count = np.sum(purchase_df["Gender"] == "Female")

# # Calculate number of other/non-disclosed players
# other_count = np.sum(purchase_df["Gender"] == "Other / Non-Disclosed")

grouped_gender_df = purchase_df.groupby(["Gender"])
print(grouped_gender_df)
grouped_gender_df.count().head()

# # Calculate total purchase value of male players
# total_male_purch = np.where(purchase_df["Gender"]=="Male",purchase_df["Price"],0).sum()

# # Calculate total purchase value of female players
# total_female_purch = np.where(purchase_df["Gender"]=="Female",purchase_df["Price"],0).sum()

# # Calculate total purchase value of other/non-disclosed players
# total_other_purch = np.where(purchase_df["Gender"]=="Other / Non-Disclosed",purchase_df["Price"],0).sum()
# # "${:,.2f}".format(total_other_purch)

# # Calculate average purchase price of male players
# average_male_purchase = total_male_purch / male_count

# # Calculate average purchase price of female players
# average_female_purchase = total_female_purch / female_count

# # Calculate average purchase price of other/non-disclosed players
# average_other_purchase = total_other_purch / other_count

# Calculate average purchase per person of male players

# Calculate average purchase per person of female players

# Calculate average purchase per person of other/non-disclosed players

# Create data frame with gender variables/values

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000231FC19E828>

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [5]:
gender_total = grouped_gender_df["Price"].sum()

In [5]:
gender_average = grouped_gender_df["Price"].mean()

In [6]:
gender_counts = purchase_df["Gender"].value_counts()

In [9]:
grouped_gender_df = purchase_df.groupby(["Gender"])
print(grouped_gender_df)
grouped_gender_df.count().head()

Gender
Female                   [Lisassa64, Reunasu60, Reulae52, Assosia88, Ph...
Male                     [Lisim78, Lisovynya38, Ithergue48, Chamassasya...
Other / Non-Disclosed    [Chanosian48, Siarithria38, Haerithp41, Sundim...
Name: SN, dtype: object

In [17]:
# male_df = purchase_df.loc[purchase_df["Gender"] == "Male", :]
# male_unique = len(male_df["SN"].unique())
# male_unique 

unique_gender_count_df = print(purchase_df.groupby('Gender')['SN'].nunique())

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [15]:
gender_summary_df = pd.DataFrame({"Purchase Count": gender_counts,
    "Average Purchase Price": gender_average, "Total Purchase Value": gender_total, "Avg Total Purchase per Person": unique_gender_count})
gender_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,3.203009,361.94,None
Male,652,3.017853,1967.64,None
Other / Non-Disclosed,15,3.346000,50.19,None

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame